<mat-grid-list cols="3" rowHeight="100">
  <mat-grid-tile
    class="cursor-pointer animated fadeIn"
    *ngFor="let item of items"
    colspan="1"
    rowspan="6"
    (click)="goToArtistPage(item);"
  >
    <mat-card>
      <img mat-card-image [src]="item.images | noimage" [alt]="item.name">
      <h2>
        <em>
          {{item.name}}
        </em>
      </h2>
      <mat-chip-list>
        <mat-chip *ngFor="let artist of item.artists" color="accent" selected>{{artist.name}}</mat-chip>
      </mat-chip-list>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
