<section>
  <mat-grid-list cols="2" *ngIf="artist">
    <mat-grid-tile>
      <img mat-card-image [src]="artist.images | noimage" [alt]="artist.name">
    </mat-grid-tile>
    <mat-grid-tile style="overflow-y: scroll">
      <table mat-table [dataSource]="topTracks" *ngIf="topTracks">

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image</th>
          <td mat-cell *matCellDef="let element">
            <img class="preview-image" mat-card-image [src]="element.album.images | noimage" [alt]="artist.name">
          </td>
        </ng-container>

        <!-- Album Column -->
        <ng-container matColumnDef="album">
          <th mat-header-cell *matHeaderCellDef> Album</th>
          <td mat-cell *matCellDef="let element"> {{element.album.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Preview Column -->
        <ng-container matColumnDef="preview">
          <th mat-header-cell *matHeaderCellDef> Preview</th>
          <td mat-cell *matCellDef="let element">
            <iframe [src]="element.id | embedSong" width="300" height="80"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-grid-tile>
  </mat-grid-list>

</section>
