<mat-toolbar class="mat-drawer-container">
  <a class="mat-focus-indicator mat-button" routerLink="/">
    <span class="mat-button-wrapper">
      <img class="spotify-logo" src="./assets/img/banner-ico.png" alt="spotify icon">
      <span>
        Spotyapp
      </span>
    </span>
  </a>

  <a class="mat-focus-indicator mat-button" routerLink="/home">
    <span>
      Home
    </span>
  </a>

  <a class="mat-focus-indicator mat-button" routerLink="/search">
    <span>
      Search
    </span>
  </a>
</mat-toolbar>
